<div class="jumbotron jumbotron-fluid" style="height: 150px">
  <div class="container">
    <h5 class="display-6">{{ lesson.title }}</h5>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
        <p>Step 1: The required information from the user and the device will be entered to the program manually. This information is passed to the corresponding variables as "string" type.</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
        <img class="mr-3" src="../../assets/images/py1.png">
    </div>
  </div>
</div>
